.container {
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: .5rem .5rem .5rem .4rem;
}

.row {
    padding: .5rem 1rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    white-space: pre-wrap;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

h1 {
    margin-bottom: .5rem;
}

.annotation {
    font-size: small;
    color: #999
}

.error {
    color: #c33
}

input::placeholder {
    color: #ccc;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}